{% extends "base.html" %}
{% load static %}

{% block title %} mineGUI | Segmentacion y clasificacion 2 {% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>Segmentacion y clasificacion</h1>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12">
    <h5> Paso 2: Se hace una estandarización de los datos.</h5>
  </div>
  <div class="container" style="overflow-x: auto;">
    <h5>Dataframe de los datos estandarizados (Primeros 10 elementos):</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>
  
        </th>
        {% for col in ME.columns %}
          <th>
            {{col}}
          </th>
        {% endfor %}
      </tr>
        {% for index, row in ME.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </div>

  <h5>Grafica de los clusters:</h5>
  {%  autoescape off %}
  {{ figVar }}
  {% endautoescape %}
  <h5>Elbow obtenido: {{knee}}</h5>
  <div class="col">
    <h5>Etiquetas de los elementos en el cluster:</h5>
    {{Mpart}}
  </div>

</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Dataframe de los elementos en los clusters:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in DfClust.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in DfClust.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Conteo de elementos por cluster:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in ClustEl.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in ClustEl.iterrows %}
          <tr>
            <th>
              
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Dataframe de los elementos en los clusters:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in DfClust2.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in DfClust2.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
     <p> {{size.0}} rows x {{size.1}} columns</p>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Obtencion de los centroides:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in CentroidesP.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in CentroidesP.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<h5>Grafica de prueba:</h5>
{%  autoescape off %}
{{ figVar2 }}
{% endautoescape %}

<h3>Clasificacion: </h3>

<div class="row my-4">
  <div class="container" style="overflow-x: auto;">
    <h5>DataFrame X (Primeros 10 elementos):</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in X.columns %}
          <th>
            {{col}}
          </th>
        {% endfor %}
      </tr>
        {% for index, row in X.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
    <p> {{size.0}} rows x {{size.1}} columns</p>
  </div>
</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>DataFrame Y (Primeros 10 elementos):</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Y.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Y.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Valor prueba vs valor pronostico:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Valores.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Valores.iterrows %}
          <tr>
            <th>
              
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
     <h3>Ajuste de bondad del modelo: {{ Score|floatformat:4 }}</h3>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Matriz de clasificacion:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in MClas.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in MClas.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <p> <b>Criterio:</b> <br>{{criterios.0}}</p>
  <p> <b>Exactitud: </b> {{criterios.1}}</p>
  <div class="col-sm-12" style="overflow-x: auto;">
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in ReporteClas.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in ReporteClas.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell|floatformat:2 }}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div> 
  
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Importancia de cada variable:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Imp.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Imp.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<h5>Reporte del arbol: </h5>
<div class="row my-4" style="height: 400px; overflow-y: scroll;">
  {% for reporte in reportes %}
  <p style="line-height: 40%;">{{reporte}}</p>
  {% endfor %}
</div>

<div class="row my-4">
  <h5>Rendimiento de las clases: </h5>
  {% for txt in textAUC %}
  
  <p>{{txt}}</p>
  
  {% endfor %}
  
  <div class="col-sm-12">
    {% autoescape off %}
    {{ AUC }}
    {% endautoescape %}
  </div>


  <div class="col-sm-12">
    <div class="card py-2">
      <div class=" card-body">
        <form  class="needs-validation" novalidate action="/SC_3/{{pk}}" method="POST"> {% csrf_token %}
          <h5>Selecciona los valores para el nuevo pronostico: </h5>
          {% for col in Pred %}
          <div class="form-check">
            <input type="number" min="0" oninput="validity.valid||(value='');" name="NClas" id="option:{{col}}" required>
            <label for="option:{{col}}"><b>{{col}}</b></label><br>
            <div class="invalid-feedback">
              <strong>Por favor brinda un valor valido</strong>
            </div>
          </div>
          {% endfor %}
          <div class="col">
            <button class="btn btn-primary" type="submit">Siguiente</button>
          </div>
        </form>
      </div>
    </div>   
  </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %} 