{% extends "base.html" %}
{% load static %}

{% block title %} mineGUI | Bosques Aleatorios: Pronostico-2 {% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>Arboles y Bosques: Pronostico</h1>
  </div>
</div>

<div class="row my-4">
  <div class="container" style="overflow-x: auto;">
    <h5>DataFrame X (Primeros 10 elementos):</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in X.columns %}
          <th>
            {{col}}
          </th>
        {% endfor %}
      </tr>
        {% for index, row in X.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
    <p> {{size.0}} rows x {{size.1}} columns</p>
  </div>
</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>DataFrame Y (Primeros 10 elementos):</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Y.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Y.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Division de los datos:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Xtest.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Xtest.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">

  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Pronostico generado:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in YPron.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in YPron.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Valor prueba vs valor pronostico:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Valores.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Valores.iterrows %}
          <tr>
            <th>
              
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
     <h3>Ajuste de bondad del modelo: {{ Score|floatformat:4 }}</h3>
  </div>
</div>

<div class="row my-4">
  <p> MAE : {{criterios.0}}</p>
  <p> MSE : {{criterios.1}}</p>
  <p> RMSE : {{criterios.2}}</p>
  
</div>

<div class="row my-4">
  <div class="col-sm-12" style="overflow-x: auto;">
    <h5>Importancia de cada variable:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in Imp.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in Imp.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<h5>Reporte del arbol: </h5>
<div class="row my-4" style="height: 400px; overflow-y: scroll;">
  {% for reporte in reportes %}
  <p style="line-height: 40%;">{{reporte}}</p>
  {% endfor %}
</div>

<div class="row my-4">
  <div class="col-sm-12">
    <div class="card py-2">
      <div class=" card-body">
        <form  class="needs-validation" novalidate action="/BA_P-3/{{pk}}" method="POST"> {% csrf_token %}
          <h5>Selecciona los valores para el nuevo pronostico: </h5>
          {% for col in Pred.columns %}
          <div class="form-check">
            <input type="number" min="0" oninput="validity.valid||(value='');" name="NPron" id="option:{{col}}"/>
            <label for="option:{{col}}"><b>{{col}}</b></label><br/>
          </div>
          {% endfor %}
          <button class="btn btn-primary" type="submit">Siguiente</button>
        </form>
      </div>
    </div>   
  </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %} 