{% extends "base.html" %}
{% load static %}

{% block title %} mineGUI | SVM {% endblock %}

{% block body %}
<div class="row">
  <div class="col-xs-12">
    <h1>SVM : {{AlgName}}</h1>
  </div>
</div>

<div class="row my-4">
  <div class="container" style="overflow-x: auto;">
    <h5>DataFrame ingresado (Primeros 10 elementos):</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in df.columns %}
          <th>
            {{col}}
          </th>
        {% endfor %}
      </tr>
        {% for index, row in df.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
    <p> {{size.0}} rows x {{size.1}} columns</p>
  </div>
</div>

<div class="row my-4">
  <h5>Descripción de la estructura de los datos:</h5>

  <div class="col-sm-6">
        <h6>Tipos de datos</h6>
          {% for columna in tipos %}  
            <p>{{columna}}</p>
          {% endfor %}
  </div>
  <div class="col-sm-6">
    <h6>Cantidad de datos nulos por variable</h6>
    {% for columna in nulos %}  
      <p>{{columna}}</p>
    {% endfor %}
  </div>

  <div class="col-sm-12" style="overflow-x: auto;">
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>

        </th>
        {% for col in df3.columns %}
          <th>
           {{col}}
          </th>
         {% endfor %}
       </tr>
        {% for index, row in df3.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
     </table>
  </div>
</div>

<div class="row my-4">
  <div class="col-sm-12">
    <h5> Seleccion de caracteristicas.</h5>
  </div>
  <div class="container" style="overflow-x: auto;">
    <h5>Dataframe de las correlaciones:</h5>
    <table class="table table-striped" style="  border-collapse: collapse; border-spacing: 0; width: 100%;">
      <tr>
        <th>
  
        </th>
        {% for col in corr.columns %}
          <th>
            {{col}}
          </th>
        {% endfor %}
      </tr>
        {% for index, row in corr.iterrows %}
          <tr>
            <th>
              {{index}}
            </th>
            {% for cell in row %}
              <td>
                {{cell}}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
    </table>
  </div>
  <div class="col-sm-12">
    <h6>Mapa de calor de correlaciones:</h6>
    {%  autoescape off %}
    {{ mapaC }}
    {% endautoescape %}
  </div>
</div>

<div class="col-sm-12">
  <div class="card py-2">
    <div class=" card-body">
      <form  class="needs-validation" action="/SVM_2/{{pk}}/{{type}}" method="POST" novalidate> {% csrf_token %}
        <h5>Selecciona las variables predictoras: </h5>
        {% for col in ME.columns %}
        <div class="form-check">
          <input type="checkbox" name="predictora" id="option:{{col}}" value={{col}}>
          <label for="option:{{col}}"><b>{{col}}</b></label><br >
          {% if forloop.last %}
          <div class="invalid-feedback">
            <strong>Por favor escoge al menos una variable</strong>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        
        <h5>De igual manera, selecciona la variable clase: </h5>
        {% for col in ME.columns %}
        <div class="form-check">
          <input type="radio" name="pronostico" id="option:{{col}}2" value={{col}} required>
          <label for="option:{{col}}2"><b>{{col}}</b></label><br >
          {% if forloop.last %}
          <div class="invalid-feedback">
            <strong>Por favor escoge una variable</strong>
          </div>
          {% endif %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Siguiente</button>
      </form>
    </div>
  </div>   
</div>


{% endblock %}

{% block scripts %}
{% endblock %} 