{% extends "base.html" %}
{% load static %}

{% block title %} mineGUI | PruebaBusqueda {% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            <h3>Prueba para pasar un archivo por HTML</h3>
            <div class="card py-2">
                <div class=" card-body" >
                        <form class="needs-validation" novalidate action="/EDA/null" method="POST"> {% csrf_token %}
                            <p>Ingrese el URL del dataFrame que desea analizar:</p>
                            <div class="form-group col">
                            <div class="form-floating">
                                <input type="text" name="fuente" class="form-control" placeholder="URL" required >
                                <label for="floatingInput">URL</label>
                            </div>
                            <div class="input-group-btn my-3">
                                <a href="/home" class="btn btn-secondary">Regresar</a>  
                                <button class="btn btn-primary" type="submit">Siguiente</button>
                            </div>
                            </div>
                        </form>
                </div>
            </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}