{% extends 'base.html' %}
{% load static %}

{% block title %} mineGUI | Pre PCA {% endblock %}

{% block body %}
<h2>PCA</h2>
<p>Elige el proyecto que quieres analizar</p>
<table class="table mb-0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    {% for proyecto in projects %}
    <tr>
      <td>{{ proyecto.Nombre }}</td>
      <td>{{ proyecto.descripcion }}</td>
      <td>
        <form method="post" action="{% url 'PCA' proyecto.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Elegir</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<p>
</p>
{% endblock %}