{% extends 'base.html' %}
{% load static %}

{% block title %} mineGUI | Pre PCA {% endblock %}

{% block body %}
<h2>Arboles y Bosques</h2>
<p>Elige el proyecto con el que quieras trabajar y el tipo de algoritmo que deseas:</p>
<div class="row mb-3">
  {% for proyectos in proyectos %}
    <div class="col-sm-6 mb-3">
      <div class="card">
        <h5 class="card-header">{{proyectos.Nombre}}</h5>
        <div class="card-body">
          <h5 class="card-title">Dataframe:</h5>
          <p class="card-text">{{proyectos.data}}</p>
          <a href="/AB_P/{{proyectos.pk}}" class="btn btn-primary">Pronostico</a>
          <a href="/AB_C/{{proyectos.pk}}" class="btn btn-primary">Clasificacion</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}