{% extends "base.html" %}
{% load static %}

{% block title %} mineGUI {% endblock %}

{% block head %} 

{% endblock %}

{% block body %}

<div class= "row align-items-center">
   <div class = "col text-center"> 
       <h1 class = "card-title">Bienvenida</h1>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Pellentesque nec aliquam nisi. Donec rhoncus lorem sit amet lorem pellentesque vehicula.
           Vestibulum volutpat erat quam. Donec sit amet tristique dui. 
           Etiam posuere consectetur nisl quis fringilla. Suspendisse porttitor maximus blandit. Aenean euismod ac urna quis cursus.
       </p>
   </div>
</div>
<div class = "row align-items-center">
   <div class = "col-6">
       <p>
           Pellentesque in pretium ipsum. Sed lectus nulla, faucibus quis convallis nec, fringilla at ligula.
           Etiam ut orci posuere, suscipit odio a, sagittis nunc. 
           Vestibulum vel orci a urna pellentesque maximus et et nisi. 
           Fusce volutpat nunc venenatis, volutpat ligula in, ornare tortor. 
           Donec et euismod metus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
           Maecenas sit amet scelerisque mi. Aliquam vitae tellus vel est suscipit suscipit. Fusce vitae nunc est.
       </p>
   </div>
   <div class="col">
       <p>    
           Pellentesque dapibus risus a mauris bibendum dapibus et eu leo. 
           Proin suscipit tortor erat, sed ullamcorper felis pharetra nec. 
           In vitae ipsum nulla. Suspendisse porttitor congue velit at bibendum. 
           Etiam ac urna erat. Nullam at vestibulum justo. Fusce orci felis, fermentum sit amet congue vulputate, molestie eget libero. 
           Sed consequat placerat aliquam. Ut tristique sed purus vitae viverra. Maecenas ac convallis mauris, at efficitur magna. 
           Nullam faucibus elit lorem, quis sagittis massa aliquam et. 
       </p>
   </div>
</div>
<div class = "row align-items-center">
   <div class = "col-6">
       <p>
           Ut pharetra rhoncus lectus, nec imperdiet diam auctor eu. 
           Suspendisse accumsan fringilla ultricies. 
           Nam commodo mollis dolor, vitae maximus nunc euismod eu. 
           Praesent sit amet ante id elit maximus ultrices vitae nec ante. 
           Maecenas condimentum tellus orci, eu rutrum nunc interdum eget.
           Aliquam mattis gravida velit eget tempor. 
           Nunc ultricies est quis est commodo elementum aliquet ut orci. 
           Nullam sollicitudin quis sem non aliquet. Fusce rhoncus est quis est dictum, ut pretium nisi porttitor. 
           Nam ut aliquam ex. Quisque nibh massa, aliquet id libero pulvinar, luctus dapibus nisl. 
       </p>
   </div>
<div class="col">
       <p>    
           Etiam at condimentum ipsum. Proin a dui mattis, efficitur purus non, dapibus leo. Vivamus sagittis metus lacus. 
           Morbi vel nisi et lectus bibendum accumsan. Nunc sit amet laoreet orci, ut rhoncus mi. Duis eget feugiat augue.              
           Maecenas viverra massa vitae felis consectetur, in scelerisque erat fermentum. 
           Sed et enim ut augue fringilla dictum id id lorem. Proin faucibus nec erat ut ultrices. 
           Proin sagittis nunc vitae ornare facilisis. Nullam iaculis convallis neque id egestas. 
           Maecenas et dui sed nunc lobortis lobortis. Etiam luctus mi nisi, sed fermentum turpis sagittis in. 
           Donec tempor sapien tortor, ut convallis risus auctor at. Mauris scelerisque tempor vestibulum. 
           Nullam dictum ut lectus ut cursus. Fusce bibendum turpis in dictum cursus. Morbi sed risus accumsan, pretium enim nec, hendrerit justo.
       </p>
   </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}