{% extends "base.html" %}
{% load static %}

{% block title %} mineGUI {% endblock %}

{% block head %} 

{% endblock %}

{% block body %}


<div class= "row justify-content-center py-4 mb-3">
   <div class = "col-sm-12 text-center py-2"> 
       <h1 class = "card-title">Bienvenido a MineGUI</h1>
       <div id="carouselExampleCaptions" class="carousel slide carousel-dark" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-indicators">
		    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
		    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
		  </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <div class="d-block w-100">
                    <img src="{% static 'imagenes/1.jpg' %}" alt="Home">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-block w-100">
                    <img src="{% static 'imagenes/2N.jpg' %}" alt="Slide1">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <div class="d-block w-100">
                    <img src="{% static 'imagenes/3.jpg' %}" alt="Slide2">
                </div>
                <div class="carousel-caption d-none d-md-block text-left"></div>
            </div>
        </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
   </div>
</div>
<div class = "row justify-content-center align-items-center mb-3">
   <div class = "col-6">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'imagenes/int.png' %}" class="img-fluid rounded-start" alt="Inicio">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">¿Que es MineGUI?</h5>
                    <p class="card-text" style="text-align: justify;">MineGUI es un proyecto enfocado en la realización de diferentes algoritmos de Minería de datos de la forma más simple posible,
                        es decir que los usuarios solo deban concentrarse los resultados obtenidos y en base a decidir variables o aspectos clave del algoritmo.</p>
                </div>
            </div>
        </div>
   </div>
   <div class="col-6">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static 'imagenes/csv.png' %}" class="img-fluid rounded-start" alt="Inicio">
            </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Crea un proyecto</h5>
                <p class="card-text" style="text-align: justify;">Para poder utilizar MineGUI es necesario crear un proyecto con un dataframe valido, estos dataframes tienen como base los archivos CSV, así que ¡Anímate a probar la plataforma!.</p>
                    <a href="/Proyectos" class="btn btn-primary">Crear un proyecto</a>
            </div>
        </div>
        </div>
   </div>
</div>

<div class = "row justify-content-center align-items-center py-4">
    <div class = "col-6">
        <h3>Aqui podrás realizar alguno de los siguientes algoritmos:</h3>
        <p>

        </p>
    </div>
 <div class="col">
    <ul>
        <li>
          <a class="dropdown-item" href="/Selector/EDA"><i class="bi bi-zoom-in"></i> EDA </a>
        </li>
        <li>
          <a class="dropdown-item "  href="/Selector/PCA"><i class="bi-tools"></i> PCA </a>
        </li>
        <li>
          <a class="dropdown-item " href="/Selector/AD"><i class="bi bi-tree-fill"></i> Arboles de decision </a>
        </li>
        <li>
          <a class="dropdown-item " href="/Selector/BA"><i class="bi bi-diagram-3"></i></i> Bosques Aleatorios </a>
        </li>
        <li>
          <a class="dropdown-item " href="/Selector/SC"><i class="bi bi-signpost-split"></i> Segmentacion y Clasificacion </a>
        </li>
        <li>
          <a class="dropdown-item" href="/Selector/SVM"><i class="bi-clipboard-data"></i> SVM </a>
        </li>
      </ul>
    </div>
 </div>


{% endblock %}

{% block scripts %}
{% endblock %}