{% extends 'base.html' %}
{% load static %}

{% block title %} mineGUI | Selector: {{AlgN}} {% endblock %}

{% block body %}
<h1>{{AlgN}}</h1>
<p>Elige el proyecto con el que quieras trabajar y el tipo de algoritmo que deseas:</p>
{% if flag %}
    <p> <strong>Nota:</strong> Es importante tener al menos una variable categorica en tu dataset si deseas realizar el algoritmo de clasificacion</p>
{% endif %}
<div class="row justify-content-center">
  {% for proyectos in proyectos %}
    <div class="col-sm-6 col-md-4 mb-3 text-center">
        <div class="card h-100">
            <h5 class="card-header">{{proyectos.Nombre}}</h5>
            <div class="card-body">
                <h5 class="card-title">Dataframe:</h5>
                <p class="card-text">{{proyectos.data}}</p>
            </div>
            <div class="card-footer">
                {% if flag %}
                    <a href="/{{Alg}}/{{proyectos.pk}}/P" class="btn btn-primary mb-2">Pronostico</a>
                    <a href="/{{Alg}}/{{proyectos.pk}}/C" class="btn btn-primary mb-2">Clasificacion</a>
                {% elif flagSVM %}
                    <a href="/{{Alg}}/{{proyectos.pk}}/L" class="btn btn-primary mb-2">Lineal</a>
                    <a href="/{{Alg}}/{{proyectos.pk}}/P" class="btn btn-primary mb-2">Polinomial</a>
                    <a href="/{{Alg}}/{{proyectos.pk}}/RBF" class="btn btn-primary mb-2">RBF</a>
                    <a href="/{{Alg}}/{{proyectos.pk}}/SGM" class="btn btn-primary mb-2">Sigmoide</a>
                {% else %}
                    <a href="/{{Alg}}/{{proyectos.pk}}" class="btn btn-primary">Elegir</a>
                {% endif %}
            </div>
        </div>
    </div>
  {% endfor %}
    <!-- <div class="col-6">
    <h3>O si lo deseas, puedes brindar el URL del dataframe</h3>
        <div class="card py-2 mb-3">
            <div class=" card-body" >
                    <form class="needs-validation" novalidate action="/{{Alg}}/{{proyectos.pk}}" method="POST"> {% csrf_token %}
                        <p>Ingrese el URL del dataFrame que desea analizar:</p>
                        <div class="form-group col">
                        <div class="form-floating">
                            <input type="text" name="fuente" class="form-control" placeholder="URL" required >
                            <label for="floatingInput">URL</label>
                        </div>
                        <div class="input-group-btn my-3">
                            <button class="btn btn-primary" type="submit">Siguiente</button>
                        </div>
                        </div>
                    </form>
            </div>
        </div>
    </div> -->
</div>

{% endblock %}